
@font-face{
    font-family: 'Press Start 2P', cursive;
    src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Press Start 2P', cursive;
    color:#FFFFFF;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{% static 'img/background.gif' %}");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

}

header{
    background: #0000007A;

    height: 146px;
    width: 100%;
    font-family: Press Start 2P;

    font-size: 18px;
    line-height: 18px;
/* identical to box height */

}

.logo{
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    width: 399px;
    font-size: 36px;
    line-height: 36px;
}

footer{
    background-color: #141218;
    padding: 20px 0;
    position:fixed;
    width: 100%;
    top: 95%;
}

.menu-list{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-top: 1%;
    word-spacing: 20px;
}

a{
    color: lightgray;
    text-decoration: none;

}