
<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tests.com</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>

    <header>
        <div class="container">
           <div class="header">
               <div class="logo">тестики.com</div>
                <nav class="menu-list">
                    <a href="#" class="menu-link">психологические</a>
                    <a href="#" class="menu-link">образовательные</a>
                    <a href="#" class="menu-link">развлекательные</a>

                </nav>
                <!-- /.menu-list -->

            </div>
            <!-- /.header -->

        </div>
        <!-- /.container -->
    </header>

    <main>
        <div class="container">
            {% for test in tests %}
                <div>
                    <h1><a href="">{{ test.title }}</a></h1>
                    <h2><a href="">{{ test.category }}</a></h2>
                    <p>{{ test.text|linebreaksbr }}</p>
                    <button> Начать тест </button>
                </div>
            {% endfor %}
        </div>
        <!-- /.container -->


    </main>

    <footer class="footer">
        <div class="container">

            <div class="footer-content">
                <div class="left">
                 <span class="copyright">© 2021. All right reserved.</span>
                </div>

                <div class="rigth">
                        <nav class="footer-menu">
                            <a href="#" class="footer-link">Privacy Policy</a>
                            <a href="#" class="footer-link">Terms of Service</a>
                            <a href="#" class="footer-link">Legal</a>
                        </nav>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
