
<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>
<body>

    <h1> Опросник Карла Юнга на темперамент</h1>
    <h2> Психологические {{ tests }}</h2>

  <p>Тест Юнга, предложенный известным психологом для определения различных типологических характеристик человека позволяет определить, кем является индивид. Как многим известно, люди бывают интровертами и экстравертами, также, существуют те, кто сочетает в себе качества обоих типов – амбиверты.

Экстравертам характерны открытость в общении, обилие контактов, импульсивность, поверхностность. Интровертам – направленность на свой внутренний мир, молчаливость, спокойствие, ригидность.

Если вы хотите узнать, кто Вы есть, пройдите тест Юнга онлайн, и результат вы получите сразу же. Приступим? </p>

    <img src="https://testometrika.com/upload/uf/e5e/e5ec560e493bed75e313040244692aa1.svg" alt="Опросник Карла Юнга на темперамент">
    <button>Начать тест</button>
</body>
</html>